{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="display-4 border-bottom my-5">FC Juárez App</h1>
  <p class="lead">Aún se está trabajando en los diferentes módulos, actualmente únicamente se encuentra disponible el módulo de psicología.</p>
  <p>Este módulo lo puedes encontrar en el área de <strong>Reportes en Generales / Psicología / Planteles</strong>.</p>
  <p>Se esta trabajando en el reporte por división.</p>
  <p>Únicamente se puede descargar el reporte por jugador.</p>
  <p>El detalle del jugador se agregará conforme se llene nuestra base de datos.</p>
  <p>Por su comprensión, gracias.</p>
</div>
{% endblock %}