{% extends "base.html" %}

{% block content %}
<nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{% url 'expedientes' %}">Medicina</a></li>
    </ol>
</nav>
<h2 class="mb-2 lh-sm">Expedientes</h2>
<div class="row">
    <div class="col-md-4 my-3">
        <div class="card">
            <div class="card-header">
                <div>
                    <h5 class="fw-bold">
                        Inhabilitado
                    </h5>
                </div>                    
            </div>
            <div class="card-body">
                {% for jugador in jugadores %}
                {% if jugador.estado_medico == 'Inhabilitado' %}
                <li style="list-style: none;">
                    <a href="{% url 'expediente.detail' first_name=jugador.user.first_name last_name=jugador.user.last_name %}" class="text-primary">{{ jugador.user.first_name }} {{ jugador.user.last_name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>   

    <div class="col-md-4 my-3">
        <div class="card">
            <div class="card-header">
                <div>
                    <h5 class="fw-bold">
                        Rehabilitación
                    </h5>
                </div>                    
            </div>
            <div class="card-body">
                {% for jugador in jugadores %}
                {% if jugador.estado_medico == 'Rehabilitacion' %}
                <li style="list-style: none;">
                    <a href="{% url 'expediente.detail' first_name=jugador.user.first_name last_name=jugador.user.last_name %}" class="text-primary">{{ jugador.user.first_name }} {{ jugador.user.last_name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div> 
    <div class="col-md-4 my-3">
        <div class="card">
            <div class="card-header">
                <div>
                    <h5 class="fw-bold">
                        Readaptación
                    </h5>
                </div>                    
            </div>
            <div class="card-body">
                {% for jugador in jugadores %}
                {% if jugador.estado_medico == 'Readaptacion' %}
                <li style="list-style: none;">
                    <a href="{% url 'expediente.detail' first_name=jugador.user.first_name last_name=jugador.user.last_name %}" class="text-primary">{{ jugador.user.first_name }} {{ jugador.user.last_name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div> 
    
</div>

<div id="expedientes"
    data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;status&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true,&quot;filter&quot;:{&quot;key&quot;:&quot;status&quot;}}">
    <div class="justify-content-center my-5">
        <div class="row">
            <div class="col-md-3 my-3">
                <input type="text" class="search form-control" placeholder="Buscar">
            </div>

            <div class="col-md-3 my-3">
                <select class="form-select form-select-sm mb-3" data-list-filter="data-list-filter">
                    <option selected="" value="">Estado del jugador</option>
                    <option value="Inhabilitado">Inhabilitado</option>
                    <option value="Disponible">Disponible</option>
                    <option value="Rehabilitacion">Rehabilitacion</option>
                    <option value="Readaptacion">Readaptacion</option>
                </select>
            </div>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table table-sm fs--1 mb-0">
            <thead>
                <tr class="bg-light">
                    <th class="sort border-top ps-3" data-sort="name">Jugador</th>
                    <th class="sort border-top" data-sort="division">División</th>
                    <th class="sort border-top" data-sort="status">Estado</th>
                    <th class="sort align-middle text-center" scope="col">Acción</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for player in jugadores %}
                <tr>
                    <td class="align-middle ps-3 name">{{ player.user.first_name }} {{ player.user.last_name }} </td>
                    <td>{{ player.plantel.division }}</td>
                    <td class="align-middle status">
                        {% if player.estado_medico == 'Disponible' %}
                        <div class="badge badge-phoenix fs--2 badge-phoenix-success">
                        {% elif player.estado_medico == 'Rehabilitacion' %}
                        <div class="badge badge-phoenix fs--2 badge-phoenix-primary">
                        {% elif player.estado_medico == 'Readaptacion' %}
                        <div class="badge badge-phoenix fs--2 badge-phoenix-secondary">
                        {% elif player.estado_medico == 'Inhabilitado' %}
                        <div class="badge badge-phoenix fs--2 badge-phoenix-warning">
                        {% endif %}
                            <span class="fw-bold">
                                {{ player.estado_medico }}
                            </span>
                        {% if player.estado_medico == 'Disponible' %}
                        <span class="ms-1 fas fa-check"></span>
                        {% elif player.estado_medico == 'Rehabilitacion' %}
                        <span class="fas fa-user-injured"></span>
                        {% elif player.estado_medico == 'Readaptacion' %}
                        <span class="fab fa-penny-arcade"></span>
                        {% else %}
                        <span class="fas fa-window-close"></span>

                        {% endif %}
                            <!--  Font Awesome fontawesome.com -->
                        </div>
                    </td>
                    <td class="align-middle white-space-nowrap text-center">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                          <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs--2"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2">
                            <a class="dropdown-item" href="{% url 'expediente.detail' first_name=player.user.first_name last_name=player.user.last_name %}">Ver</a>
                            <a class="dropdown-item" href="#!">Exportar</a>
                          </div>
                        </div>
                      </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
        <div class="col-auto d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900"
                data-list-info="data-list-info">0 to 0 <span class="text-600"> Items of </span>0</p>
            <a class="fw-semi-bold" href="#!" data-list-view="*">View all 
                <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
            </a>
            <a
                class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less 
                <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
            </a>
        </div>
        <div class="col-auto d-flex">
            <button class="page-link disabled" data-list-pagination="prev" disabled="">
                <span class="fas fa-chevron-left"></span>
            </button>
            <ul class="mb-0 pagination">
                <li class="active"><button class="page" type="button" data-i="1"
                        data-page="5">1</button></li>
                <li><button class="page" type="button" data-i="2" data-page="5">2</button></li>
            </ul>
            <button class="page-link pe-0" data-list-pagination="next">
                <span class="fas fa-chevron-right"></span>
            </button>
        </div>
    </div>

</div>


{% endblock %}